:root {
    font-size: 1em;
    font-family: TruenoLight, sans-serif;

    --link-unvisited-color: #0f3a8b;
    --link-visited-color: #5b1277;
    --link-active-color: #db1212;
}

body {
    margin: 2%;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: OrkneyRegular, sans-serif;
    font-weight: bold;
    margin-top: 1.5%;
    margin-bottom: 0.25%;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 125%;
}

h4 {
    font-size: 115%;
}

a, h1 > a:visited {
    color: var(--link-unvisited-color);
}
a:visited {
    color: var(--link-visited-color);
}
a:active, h1 > a:active {
    color: var(--link-active-color);
}

.hidden {
    display: none;
}

.physics {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #444444;
    margin-bottom: 0.25%;
}
.control-bar {
    background-color: #eeeeee;
    display: flex;
    height: 0.2in;
}
.play-button {
    background-image: url("play.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}
.pause-button {
    background-image: url("pause.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}
.reset-button {
    background-image: url("reset.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}
.container {
    display: flex;
}
.container > canvas {
    max-width: 800px;
    max-height: 600px;
    width: auto;
    height: auto;
}
.container > .interactive {
    margin-right: auto;
    padding-top: 1em;
    order: 99;
    background-color: #ffffff;
}
.container > .interactive > * {
    margin-left: 1em;
    margin-bottom: 1em;
}
.output {
    order: 0;
    background-color: #ffffff;
    margin-left: auto;
}
.output-list > li {
    list-style-type: disc;
    margin-left: 1.2em;
    padding-right: 0.2em;
    width: 10em;
    white-space: nowrap;
}
.chart {
    background-color: #444444;
    display: flex;
}

.chart > canvas {
    margin: auto;
}